<%

var count = 300;//yield $Good.GetActivityByTab($this.query.tab);
var pages = Math.ceil(count / 10);
var page = +$this.query.p || 1;
var tab = $this.query.tab || '';
var items = [page-2, page-1, page, page+1, page+2];
var prePage = '?tab=' + tab + '&p=' + (page - 1);
var nextPage = '?tab=' + tab + '&p=' + (page + 1);

%>

<ul class="pagination">
    <% if (page && page > 1) { %>
    <li><a href="?tab=<%= tab%>&p=<%= page - 1 %>" >&laquo;</a></li>
    <% } %>

    <% items.forEach(function (item) { %>
    <% if (item && (item > 0) && (item <= pages) && (pages > 1)) { %>
    <li class="<%= (page == item) ? 'active': '' %>"><a href="?tab=<%= tab %>&p=<%= item %>"><%= item %></a> </li>
    <% } %>
    <% }); %>

    <% if (page && page < pages) { %>
    <li><a href="?tab=<%= tab%>&p=<%= page + 1%>">&raquo;</a></li>
    <% } %>
</ul>