<% include header.ejs %>


<div class="message">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">

                <% var MessageLength = messages.lenth; %>
                <% if (MessageLength == 0) { %>
                <div class="myMessage">
                    您暂时没有新的消息~~~
                </div>
                <% } else { %>
                <% messages.forEach(function (message) { %>
                <div class="myMessage">
                    <p><%= message.sender %>das <%= message.type%>
                        <a href="<%= message.url %>" > <%= message.content%> </a>
                        <%= message.create_at %>
                    </p>
                </div>
                <%}); %>
                <% }%>

            </div>
        </div>
    </div>
</div>

<% include footer.ejs%>